{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %} {{ super() }} {% endblock title %}

{% block content %}

<h1 class="text-center text-6xl font-medium font-oleoScript no-overflow leading-tight">All my to-do's</h1>
<div class="flex justify-center">
    <div class="main-content">
        {% if user.notes %}
        {{ macros.notes(user, category_id_list) }}
        {% else %}
        <div class="text-center">You don't have any notes to view.<br><br>
            <a href="/my-categories" class="link">
                Add a category</a> if you haven't already, and in side it add a note.<br>
            Then come here to see it.
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}