<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">
    <!-- Import Google Material Icons  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <!-- Import Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap">
    <!-- Import Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>{% block title %}TO-DO's {% if user.is_authenticated %} - {{ user.username }} {% endif %} {% endblock title
        %}</title>
</head>

<body class="bg-gradient-to-r from-cyan-100 to-indigo-200 font-rubik min-h-screen flex flex-col">
    <nav class="px-12 py-7 flex flex-wrap justify-between items-center shadow sticky top-0 z-10 bg-white">

        <!-- Ian Selley logo -->
        <div class="flex items-center">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo that says Ian Selley">
        </div>

        <!-- Menu button -->
        <div class="flex md:hidden">
            <button type="button" aria-label="toggle menu" onclick="toggle_nav_items()"
                class="text-gray-500  hover:text-gray-600 focus:text-gray-600">
                <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                    <path fill-rule="evenodd"
                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                    </path>
                </svg>
            </button>
        </div>

        <!-- Nav Items -->
        <div id="nav-items" class="hidden md:flex md:items-center w-full md:w-auto">
            <ul class="pt-4 md:pt-0 md:flex md:justify-between">
                <li><a href="/manual">Manual</a></li>
                {% if user.is_authenticated %}
                <li><a href="/my-categories">My Categories</a></li>
                <li><a href="/all-my-notes">All My Notes</a></li>
                <li><a href="/logout">Log Out</a></li>
                <li><button class="material-icons">manage_accounts</button></li>
                {% else %}
                <li><a href="/sign-up">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- This line is here to make these css clases available if python uses them 
    (in '__init__.py'). If they are not here, these classes aren't defined in main.css -->
    <div class="text-fuchsia-900 hover:text-pink-600 underline hover:no-underline"></div>

    <div class="mb-24">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div id="alert" class="alert alert-{{ category }} grid grid-cols-auto-min">
            <div class="text-center py-5 pl-10">{{ message | safe }}</div>
            <div class="flex-center">
                <button onclick="delete_alert()"
                    class="w-4 mr-6 transition hover:scale-150 duration-200 ease-linear">&#10005;</button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div>{% block content %}{% endblock content %}</div>

    <footer
        class="px-6 lg:px-24 bg-coolGray-800 h-24 mt-auto flex justify-evenly items-center text-white text-xl font-thin font-montserrat">
        <div>
            <a href="https://github.com/ianselley/" class="fab fa-github"><span>GitHub</span></a>
        </div>
        <div>
            <a href="https://www.instagram.com/ian_sm01/" class="fab fa-instagram"><span>Instagram</span></a>
        </div>
        <div>
            <a href="https://www.facebook.com/ian.selley.77/" class="fab fa-facebook"><span>Facebook</span></a>
        </div>
        <div>
            <a href="https://twitter.com/iansm2001/" class="fab fa-twitter"><span>Twitter</span></a>
        </div>
    </footer>

    <!-- Import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script>
        const notesParent = $('#notes-parent');
        const lastImportant = $('[important]').last();
        console.log(notesParent.children('[important]').last());
        console.log(lastImportant);
        if (notesParent.children('[important]').last() !== lastImportant) {
            lastImportant.after('<hr style="position: relative; top: 1px; border: 1px solid rgba(0, 0, 0, 0.5);">');
        }
    </script> -->
</body>

</html>