{% extends "base.html" %}

{% block title %} {{ super() }} {% endblock title %}



{% block content %}
<div class="flex flex-col text-center">
    <h2 class="text-3xl font-medium mb-8">Welcome to my TO-DO's web app!</h2>
    <div class="text-lg">
        <p>Here I'll explain how to use and move through this website.</p>
        <p>But for the moment it's quite simple to use and this is going to stay as it is.</p>
        <p>In a near future I do plan to add new features.</p>
    </div>
</div>
{% endblock content %}