{% extends "base.html" %}

{% block title %} {{ super() }} {% endblock title %}

{% block content %}
<h1 class="text-center text-6xl font-medium font-pacifico">TO-DO's</h1>
<div class="flex justify-center">
    <div class="w-2/3 card">
        <form class="" method="POST">
            <input class="w-full" type="text" name="note_content" placeholder="Notes" autocomplete="off" autofocus>
            <button type="submit" class="my-6 w-full btn-form">Save</button>
        </form>
        <ul class="divide-y divide-gray-400 divide-opacity-50">
            {% for note in user.notes %}
            <li class="m-1 p-4">
                <div class="flex items-center">
                    <div class="mr-3 flex flex-nowrap content-center">
                        <a href="/done/{{ note.id }}" class="mr-2">
                            <!-- onclick="location.href=this.href+window.scrollY;return false;" -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="green"
                                class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path
                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path
                                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                            </svg>
                        </a>
                        <a href="/delete-note/{{ note.id }}" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="red"
                                class="bi bi-x-square" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                    <div class="ml-3 flex items-center {% if note.complete == 1 %} complete {% endif %}"
                        id="text-plus-logo{{ note.id }}">
                        <span id="text{{ note.id }}">
                            {{ note.content }}
                        </span>
                        <button onclick="edit_note( '{{ note.id }}' )" class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="orange"
                                class="bi bi-pen" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    window.scrollTo(0, '{{ scroll }}'); // Sin las comillas simples sale error; de todas formas, de ninguna manera funciona xd
</script>
{% endblock content %}