{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %} {{ super() }} {% endblock title %}

{% block content %}

<h1 class="text-center text-6xl font-medium font-oleoScript no-overflow leading-tight">{{category.name}}</h1>

<div class="flex justify-center no-overflow">
    <div class="no-card sm:card lg:w-160">
        {% if category %}
        <form action="/post-note/{{category.id}}" method="POST">
            <input class="w-full" type="text" name="note_content" placeholder="Notes" autocomplete="off" autofocus>
            <button class="mt-6 w-full btn-form-green" type="submit">Save</button>
        </form>
        {% endif %}
        {{ macros.notes(user, [category.id], false) }}
    </div>
</div>

{% endblock content %}