{% extends "base.html" %}

{% block title %} {{ super() }} {% endblock title %}

{% block content %}

<div class="flex justify-center">
    <div class="no-card sm:card">
        <h2 class="text-center text-2xl font-medium mb-4">Sign up and start writing TO-DO's</h2>
        <form method="POST" class="form-padding">
            <div class="">
                <label for="username">Username:</label>
                <div class="logo-input">
                    <span id="username-prepend" class="logo">
                        <em class="material-icons">person_outline</em>
                    </span>
                    <input type="username" class="form" id="username" name="username" autocapitalize="none"
                        placeholder="Write your username" autofocus required minlength="1" autocomplete="username">
                </div>
            </div>
            <div class="">
                <label for="password">Password:</label>
                <div class="logo-input">
                    <span class="logo">
                        <em class="material-icons">password</em>
                    </span>
                    <input type="password" class="form eye" id="password" name="password" autocapitalize="none"
                        placeholder="Write a password" required minlength=8" autocomplete="new-password">
                </div>
            </div>
            <div class="">
                <label for="password-confirm">Repeat password:</label>
                <div class="logo-input">
                    <span class="logo">
                        <i class="material-icons">password</i>
                    </span>
                    <input type="password" class="form eye" id="password-confirm" name="password-confirm"
                        autocapitalize="none" placeholder="Repeat your password" minlength=8" required
                        autocomplete="new-password">
                </div>
            </div>
            <div class="flex items-center">
                <input class="mr-1" type="checkbox" checked id="direct-login" name="direct-login">
                <label for="direct-login">Log in automatically</label>
            </div>
            <div>
                <button class="btn-form w-full" type="submit">SIGN UP</button>
            </div>
        </form>
    </div>
</div>
<script>$('#username').focus()</script>
{% endblock content %}