@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

nav img {
  @apply w-36 h-auto;
}

#nav-items a,
#nav-items button {
  @apply py-2 block w-full text-center sm:p-0 sm:mx-4 text-gray-700 hover:text-indigo-500;
  @apply dark:text-gray-200 dark:hover:text-indigo-400;
  white-space: nowrap;
}

.alert {
  @apply border-t border-b;
}

.alert-success {
  @apply bg-green-400 bg-opacity-30 border-green-600 text-emerald-900;
}

.alert-warning {
  @apply bg-yellow-400 bg-opacity-30 border-yellow-600 text-rose-900 font-medium;
}

.alert-error {
  @apply bg-red-400 bg-opacity-30 border-red-600 text-red-900;
}

@responsive {
  .card {
    @apply bg-warmGray-50 rounded-xl shadow-xl p-6 mt-12 mb-48 w-120;
  }
}

@responsive {
  .no-card {
    @apply mb-48 w-72;
  }
}

h2 ~ div:not(:last-child),
h2 {
  @apply mb-4;
}

.logo-input {
  @apply mt-2 grid grid-cols-min-auto bg-warmGray-200 rounded-md ring-gray-300 ring-1;
  @apply shadow-md;
}

.logo {
  @apply flex-center px-2 rounded-l-md;
}

input {
  @apply focus:outline-none py-2 px-3 focus:ring-blue-300 focus:ring-2;
}

input:not(.form) {
  @apply ring-gray-300 ring-1 shadow-md rounded-md focus:ring-blue-300 focus:ring-2;
}

input.form {
  @apply rounded-r-md;
}

.eye::after {
  /* Añadir el ojo para las contraseñas */
}

form ~ ul {
  @apply pt-6;
}

/* li:last-child:not(:first-child) {
  @apply mb-4;
} */

.complete {
  @apply line-through text-gray-400;
}

.btn-form {
  @apply h-12 w-full bg-green-500 rounded-full text-white font-bold text-xl shadow-lg;
  @apply hover:shadow-xl transition-all duration-200 ease-in-out; /* mb-48 sm:mb-0  */
}

footer span {
  font-family: "Montserrat";
  @apply ml-3 hidden md:inline;
}
